parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter

	# ldap settings from parameters: of local.neon
	ldap: LDAP\Service(%ldap.server%, %ldap.baseDn%)

	# set available authenticators
	-
		factory: LdapAuthenticator
		autowired: self
	-
		factory: PasswordAuthenticator
		autowired: self

	- Models\AclModel
	authorizatorFactory : AuthorizatorFactory
	authorizator:
		class: Nette\Security\Permission
		factory: @authorizatorFactory::create()

# security:
# 	users:
# 		admin: secret  # user 'admin', password 'secret'