parameters:


application:
	errorPresenter: Core:Error
	mapping:
		*: App\*\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	- Contributte\FormMultiplier\DI\MultiplierExtension

decorator:
		App\Repositories\BaseRepository:
			setup:
				- initCache()
		App\Models\Mappers\Db\BaseDbMapper:
			setup:
				- setDibi()
				- init()
		App\Forms\BaseForm:
			setup:
				- setFormFactory()

services:
	router: App\Router\RouterFactory::createRouter
#	cache.storage: Nette\Caching\Storages\DevNullStorage
	cache.storage: Nette\Caching\Storages\FileStorage(%tempDir%/cache)

	# ldap settings from parameters: of local.neon
	ldap: App\Core\Classes\LDAP\Service(%ldap.server%, %ldap.baseDn%)

	# set available authenticators
	-
		factory: App\Core\Classes\LdapAuthenticator
		autowired: self
	-
		factory: App\Core\Classes\PasswordAuthenticator
		autowired: self

	authorizatorFactory : App\Core\Classes\AuthorizatorFactory
	authorizator:
		class: Nette\Security\Permission
		factory: @authorizatorFactory::create()

	# factories
	- App\Models\Factories\RuleFactory
	- App\Models\Factories\BallotFactory

	# formFactory
	- App\Forms\FormFactory
	- App\Forms\Election\QuestionFormFactory
	- App\Forms\Voting\VotingFormFactory

	#facades
	- App\Frontend\Classes\ElectionsFacade

	# data mappers
	PrivilegeMapper: App\Models\Mappers\Db\PrivilegeDbMapper
	ResourceMapper: App\Models\Mappers\Db\ResourceDbMapper
	RoleMapper : App\Models\Mappers\Db\RoleDbMapper
	UserMapper : App\Models\Mappers\Db\UserDbMapper
	RuleMapper: App\Models\Mappers\Db\RuleDbMapper
	ElectionMapper: App\Models\Mappers\Db\ElectionDbMapper
	VoterFileMapper: App\Models\Mappers\Db\VoterFileDbMapper
	VoterMapper: App\Models\Mappers\Db\VoterDbMapper
	QuestionMapper: App\Models\Mappers\Db\QuestionDbMapper
	AnswerMapper: App\Models\Mappers\Db\AnswerDbMapper
	BallotMapper: App\Models\Mappers\Db\BallotDbMapper

	# repositories
	privilegeRepository: App\Repositories\PrivilegeRepository
	resourceRepository: App\Repositories\ResourceRepository
	roleRepository: App\Repositories\RoleRepository
	userRepository : App\Repositories\UserRepository
	ruleRepository: App\Repositories\RuleRepository
	electionRepository: App\Repositories\ElectionRepository
	voterFileRepository: App\Repositories\VoterFileRepository
	voterRepository: App\Repositories\VoterRepository
	questionRepository: App\Repositories\QuestionRepository
	answerRepository: App\Repositories\AnswerRepository
	- App\Repositories\BallotRepository