{block content}
{block title}<h1>Resources</h1>{/block}

{embed ../defines/gridCard.latte, gridName: resourcesGrid}
	{block header}Resources{/block}
{/embed}
{snippet resourceFormSnippet}
	{if !empty($showResourceForm)}
		{embed ../defines/formCard.latte, formName: resourceForm}
			{block header}{if empty($resourceEdit)}Add new{else}Edit{/if} resource{/block}
		{/embed}
	{/if}
{/snippet}
{/block}

