{extends @layout.latte}
{block content}
<h1 class="display-1">404</span>
<h2 class="mb-3">{block title}Page not found{/block}</h1>
<h4 class="font-weight-normal mb-5">It is possible that the address is
incorrect or the page no longer exists.</h2>
<a href="/" class="btn btn-primary btn-lg">Take me back</a>
