:root {
	--body-backgroud: #fafafc;
	--body-foreground: #fff;
	--body-text-color: #3b3f42;
	--sidebar-width: 13rem;
}

/* SIDEBAR */
.sidebar {
	width: var(--sidebar-width);
	min-height: 100vh;
	margin-left: calc(0rem - var(--sidebar-width));
	position: fixed;
	top: 0;
	background-color: var(--body-foreground);
	z-index: 2;
}

.sidebar .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

.sidebar li {
	position: relative;
}

.sidebar a {
	display: block;
	padding: 1rem;
	color: var(--body-text-color);
	transition: all 0.2s;
}

.sidebar a:hover {
	color: var(--primary);
	text-decoration: none;
}

.sidebar a > i.fa {
	margin-right: 0.5rem;
	width: 1.5rem;
}

.sidebar li > ul > li > a {
	padding-left: 3.3rem;
}

.sidebar li.active a {
	color: var(--primary);
	border-right: 3px solid var(--primary);
}

.sidebar [data-toggle=collapse]:before {
	content: " ";
    border: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    padding: 4px;
    transform: rotate(45deg);
    transition: all 0.2s;
}

.sidebar [data-toggle=collapse]:not(.collapsed):before {
	transform: rotate(-135deg);
	top: 1.5rem;
}

body > .navbar {
	position: fixed;
	top: 0;
	width: 100vw;
	margin-left: 0;
	box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
	background-color:  var(--body-foreground);
	z-index: 1;
}

main {
	margin-top: 5rem;
	margin-left: 0;
	overflow-x: hidden;
}

main > div {
	min-width: 100vw;
}

main, body > .navbar, .sidebar {
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

body.toggled .sidebar {
	margin-left: 0rem;
}

body.toggled main, body.toggled > .navbar {
	margin-left: var(--sidebar-width);
}

@media (min-width: 768px) {
	.sidebar {
	  margin-left: 0;
	}

	main, body > .navbar {
		margin-left: var(--sidebar-width);
	}

	body.toggled .sidebar {
		margin-left: calc(0rem - var(--sidebar-width));
	}

	body.toggled main, body.toggled > .navbar {
		margin-left: 0;
	}

	main > div {
		min-width: 0;
	}
}

/* FORMS */

.form-custom fieldset {
	border-radius: 0.25rem;
}

.form-custom .form-group {
	position: relative;
}

.form-custom .form-group input.form-control {
	height: auto;
	padding: 0.75rem 1rem;
}


.form-custom .form-group input.form-control:hover:not(:focus) {
	border-color: #80bdff;
}

.form-custom .form-group input.form-control.is-invalid, .form-custom.was-validated .form-group input.form-control:invalid,
.form-custom .form-group input.form-control.is-valid, .form-custom.was-validated .form-group input.form-control:valid {
	padding-right: 2.25rem;
}

.form-custom .form-group input.form-control:focus {
	box-shadow: 0 0 0.5rem 0 rgb(0 123 255 / 25%);
}

.form-custom .form-group input.form-control.is-invalid:focus, .form-custom.was-validated .form-group input.form-control:invalid:focus {
	box-shadow: 0 0 0.5rem 0 rgb(220 53 69 / 25%);
}

.form-custom .form-group input.form-control.is-valid:focus, .form-custom.was-validated .form-group input.form-control:valid:focus {
	box-shadow: 0 0 0.5rem 0 rgb(40 167 69 / 25%);
}

.form-custom .form-group input.form-control.is-invalid:hover, .form-custom.was-validated .form-group input.form-control:invalid:hover {
	border-color: #dc3545;
}

.form-custom .form-group input.form-control.is-valid:hover, .form-custom.was-validated .form-group input.form-control:valid:hover {
	border-color: #28a745;
}


.form-custom .form-group label:not(.custom-control) {
	position: absolute;
	top: 0;
	/* border:1px solid transparent; */
	padding: 0.75rem 0.75rem;
	margin-bottom: 0;
	color: #6c757d;
	transition: all 0.2s;
	overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
	cursor: text;
}

.form-custom .form-group input.form-control:focus~label:not(.custom-control) {
	color: #80bdff;
}

.form-custom .form-group input.form-control.is-invalid:focus~label:not(.custom-control), .form-custom.was-validated .form-group input.form-control:invalid:focus~label:not(.custom-control) {
	color: #dc3545;
}

.form-custom .form-group input.form-control.is-valid:focus~label:not(.custom-control), .form-custom.was-validated .form-group input.form-control:valid:focus~label:not(.custom-control) {
	color: #28a745;
}

.form-custom .form-group input.form-control:not(:placeholder-shown)~label, .form-custom .form-group input.form-control:focus~label {
	top: -10px;
	/* margin-left: calc(.75rem - 2px); */
	margin-left: .75rem;
	font-size: 80%;
	background-color: white;
	padding: 0 2px;
	max-width: 70%;
	z-index:5;
}

.form-custom .form-group input.form-control::-webkit-input-placeholder {
	transition: all 0.2s;
}

.form-custom .form-group input.form-control:-ms-input-placeholder {
	transition: all 0.2s;
}

.form-custom .form-group input.form-control::-ms-input-placeholder {
	transition: all 0.2s;
}

.form-custom .form-group input.form-control::-moz-placeholder {
	transition: all 0.2s;
}

.form-custom .form-group input.form-control::placeholder {
	transition: all 0.2s;
}

.form-custom .form-group input.form-control:not(:focus)::-webkit-input-placeholder {
	color: transparent;
	text-shadow: none;
}

.form-custom .form-group input.form-control:not(:focus):-ms-input-placeholder {
	color: transparent;
	text-shadow: none;
}

.form-custom .form-group input.form-control:not(:focus)::-ms-input-placeholder {
	color: transparent;
	text-shadow: none;
}

.form-custom .form-group input.form-control:not(:focus)::-moz-placeholder {
	color: transparent;
	text-shadow: none;
}

.form-custom .form-group input.form-control:not(:focus)::placeholder {
	color: transparent;
	text-shadow: none;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
.form-custom .form-group>label:not(.custom-control) {
  display: none;
}
.form-custom .form-group input.form-control::-ms-input-placeholder {
  color: #777;
}
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
.form-custom .form-group>label:not(.custom-control) {
  display: none;
}
.form-custom .form-group input.form-control:-ms-input-placeholder {
  color: #777;
}
}

/* CUSTOM CSS */

body {
	background-color: var(--body-backgroud);
	color: var(--body-text-color);
}

.datagrid {
	padding: 0;
	min-height: 400px;
	max-width: 100%;
	overflow-x: auto;
}
.table {
	color: var(--body-text-color);
}
.card {
	box-shadow: 0 0 0.875rem 0 rgba(42, 49, 66, 0.1);
}

.card-election {
	min-height: 400px;
}

div.ajax-spinner-backdrop {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffffa1;
    z-index: 100;
}

div.ajax-spinner {
	display: flex;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
