<div class="card">
	{control header}
	<div class="card-body">
		{* {form $formName}
		{foreach $form->getControls() as $inputControl}
			<div class="form-group row">{$inputControl->getLabel()}{$inputControl->getControl()}</div>
		{/foreach}
		{/form} *}
		{control $formName}
	</div>
</div>