{block content}
<h1>Roles</h1>

{foreach $roles as $id => $role}
	<p>
		{$role->name} | <a n:href=":edit $role->id">Edit</a>
	</p>
{/foreach}

<a n:href="showRoleForm!" class="ajax">Add new role</a>
{snippet roleFormSnippet}
	{if !empty($showRoleForm)}
		{control roleForm}
	{/if}
{/snippet}
{/block}