{block content}
<h1>Hello World!</h1>
<a n:href="Sign:out" n:if="$user->isLoggedIn()">Odhlasit</a><br>
Excepteur labore minim est et culpa mollit consectetur consectetur. Dolor adipisicing in consequat enim proident nulla exercitation do deserunt. Incididunt aliqua laborum nulla ea culpa officia. Reprehenderit labore pariatur officia deserunt ea ipsum excepteur cillum non et deserunt sunt est aliqua. Lorem enim pariatur reprehenderit officia anim officia dolor.

Minim deserunt reprehenderit dolor eu eiusmod eu deserunt ea do esse. Quis mollit velit pariatur qui aute aliqua qui labore incididunt officia. Excepteur occaecat ipsum esse velit culpa quis aute qui reprehenderit incididunt. Dolore amet nulla magna eu eu culpa sint aliqua irure laboris.
{/block}