{block content}

{dump}

{foreach $users as $userItem}
	<p>
		{$userItem->getName()} {$userItem->surname} ({$userItem->getEmail()}) | <a class="ajax" n:href="edit! $userItem->getId()">Edit</a>
	</p>
{/foreach}

{control usersGrid}
{dump $users}

<a n:href="showUserForm!"> Add new user</a>
{snippet userFormSnippet}
	{if !empty($showUserForm)}
		{control userForm}
	{/if}
{/snippet}
{/block}