{define menuLink, $item}
	<li class="">
	<a id="nav-link-{=lcfirst($item['name'])}" href="{plink $item['link']}">
		<i n:if="!empty($item['icon'])" class="fa fa-{$item['icon']}"></i><span> {$item['name']} </span>
	</a>
	</li>
{/define}

{define menuItem, $values}
	{if empty($values['childs'])}

			{include menuLink, $values}

	{else}
		<li>
			<a href="#" data-toggle="collapse" class="collapsed" data-target="#nav-link-section-{$values['name']}">
				<i n:if="!empty($values['icon'])" class="fa fa-{$values['icon']}"></i> <span> {$values['name']}</spam>
			</a>
			<ul class="list-unstyled collapse sidebar-dropdown" id="nav-link-section-{$values['name']}">
			{foreach $values['childs'] as $child}
				{include menuItem, $child}
			{/foreach}
			</ul>
		</li>
	{/if}
{/define}

{block menu}
	<nav>
		<ul class="list-unstyled">

			{foreach $items as $item}
				{include menuItem, $item}
			{/foreach}
			<a href="{plink Sign:out}">
				<i class="fa fa-sign-out-alt"></i> Sign out
			</a>

		</div>
	</nav>
{/block}