{define menuLink, $item}
	<a class="list-group-item" id="nav-link-{=lcfirst($item['name'])}" href="{plink $item['link']}">
		<i n:if="!empty($item['icon'])" class="{$item['icon']}"></i> {$item['name']}
	</a>
{/define}

{define menuItem, $values}
	{if empty($values['childs'])}

			{include menuLink, $values}

	{else}
			<a class="list-group-item collapsed" href="#" data-toggle="collapse" data-target="#nav-link-section-{$values['name']}">
				<i n:if="!empty($values['icon'])" class="{$values['icon']}"></i> {$values['name']}
			</a>
				<div class="collapse sidebar-dropdown" id="nav-link-section-{$values['name']}">
				{foreach $values['childs'] as $child}
					{include menuItem, $child}
				{/foreach}
				</div>
		</li>
	{/if}
{/define}

{block menu}

		<div class="list-group list-group-flush">
			<div class="list-group-item">Nav Title</div>
			{foreach $items as $item}
				{include menuItem, $item}
			{/foreach}
			<a href="{plink Sign:out}" class="list-group-item">
				<i class="c-sidebar-nav-icon cil-cloud-download"></i> Sign out
			</a>

		</div>

{/block}