{block content}
<h1>{block title}Roles{/block}</h1>

{embed ../defines/gridCard.latte gridName: rolesGrid}
	{block header}Roles{/block}
{/embed}

{snippet roleFormSnippet}
	{if !empty($showRoleForm)}
		{embed ../defines/formCard.latte, formName: roleForm}
			{block header}{if empty($roleEdit)}Add new{else}Edit{/if} role{/block}
		{/embed}
	{/if}
{/snippet}
{/block}